.post{
    display: flex;
    margin-bottom: 1.2rem;
}

.image__container{
    width: 600px;
    display: flex;
    justify-content: center;
}
.image__container img{
    max-width: 100%;
    min-width: 300px;
}


.post > h2{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
.content{
    width: 300px;
    padding: 2rem;    
}

.main{
    border-bottom: 1px solid var(--color-borders-box);
}

.main span{
    font-weight: bold;    
    font-size: 1.4rem;    
}
.main p{
    font-size: 1.2rem;
}

.stats p{
    font-size: 1.2rem;
}