.header{
    padding: 2rem 4rem;
    background-color: var(white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--color-borders-box);
}
.header__main{
    display: flex;
    align-items: center;
}
.header__main > span{
    color: var(--principal-alt);
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-right: 1rem;
}
.header__actions > ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__actions li{
    margin-right: 1em;
}

.header__actions li:last-child{
    margin-right: none;
}

.icon__action{
    color: #0396a6;
}
.icon__profile{
    color: #2b3f6c;
}
